@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courier+Prime:400,400i,700,700i&display=swap');
@import url('https://cdn.jsdelivr.net/npm/yakuhanjp@3.3.1/dist/css/yakuhanjp_s-noto.min.css');

html {
    font-size: 62.5%;
}
body {
    color: #333;
    font-size: 1.3em;
    font-family: 'Arvo', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.title {
    font-size: 1.5rem;
    padding: 10px 0px;
    display: block;
    color: #767676;
}
.title::before {
    display: block;
    width: 100%;
    content: "";
    border-top: 2px solid #ccc;
    margin: auto 0 15px;
}
.title::after {
    display: block;
    width: 30px;
    content: "";
    border-top: 2px solid #ccc;
    margin: 15px 0 auto;
}
.showarticleinfo {
    font-size: 1.3rem;
    color: #767676;
    line-height: 1.8;
    margin-top: 50px;
    padding: 10px 0px;
}
.showarticleinfo .fas {
    font-size: 1.05rem;
}
.showarticleinfo code {
    font-size: 1.3rem;
    margin-right: 0.3rem;
}
.showarticleinfo::before {
    display: block;
    width: 30px;
    content: "";
    border-top: 2px solid #ccc;
    margin: 25px 0 15px;
}
.showarticleinfo::after {
    display: block;
    width: 100%;
    content: "";
    border-top: 2px solid #ccc;
    margin: 15px 0 auto;
}
.about {
    padding: 80px 30px;
}
*, *::before, *::after {
    box-sizing: border-box;
}
a:link, a:visited, a:active {
    color: #337ab7;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.global-nav {
    margin: -36px 0 0 150px;
    text-align: right;
}
.global-nav .nav-item {
    display: inline-block;
    margin: 0 0 0 50px;
}
.global-nav .nav-item a {
    display: inline-block;
    width: inherit;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #999;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.15s;
    text-decoration: none;
}
.global-nav .nav-item.active a,
.global-nav .nav-item a:hover {
    color: #fff;
    text-decoration: none;
}
.hidden {
    display: none;
}
.logo {
    font-size: 30px;
    margin: 14px 0 0 -5px;
    height: 60px;
    width: 120px;
    background: url('../img/logo.png') no-repeat;
    background-size: 100%;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.logo a {
    display: block;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}
.header {
    width: 100%;
    height: 70px;
    padding: 6px 0 10px;
    background-color: #333;
}
.header-wrapper {
    width: 800px;
    margin: 0 auto;
}
.wrapper {
    width: 800px;
    margin: 30px auto 40px;
}
.main {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.content {
    line-height: 1.75;
}
.content h1 {
    font-family: 'YakuHanJPs_Noto','Arvo', sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
    border-color: #1BA0E1;
    border-style: solid;
    border-width: 0 0 2px;
    margin: 45px auto 20px;
    padding-bottom: .25em;
    position: relative;
}
.content h1::after {
    border-color: #1BA0E1 transparent transparent;
    border-style: solid;
    border-width: 8px 8px 0;
    bottom: -8px;
    content: "";
    display: block;
    left: 32px;
    position: absolute;
}
.content h1::before {
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 8px 8px 0;
    bottom: -5px;
    content: "";
    display: block;
    left: 32px;
    position: absolute;
    z-index: 1;
}
.content h2 {
    font-family: 'YakuHanJPs_Noto','Arvo', sans-serif;
    font-weight: 400;
    padding: 0 10px;
    margin: 40px 0 10px;
    font-size: 1.8rem;
    border-left: 2px solid #1BA0E1;
}
.content h1+h2 {
    margin: 0 0 10px;
}
.content h3 {
    font-family: 'YakuHanJPs_Noto','Arvo', sans-serif;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 700;
    border-bottom: 2px dotted #1BA0E1;
    margin: 10px 0 15px;
    padding: 0;
}
.content h1+h3, .content h2+h3 {
    margin: 5px 0 15px;
}
.content p {
    font-size: 1.6rem;
    margin-bottom: 1em;
    text-align: justify;
    text-justify: inter-ideograph;
}
.content .title+p {
    margin-top: 3em;
}
.content h1:first-child {
    margin-top: 10px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

table {
    width: 100%;
    font-size: 1.4rem;
}
th {
    background-color: #9ec9f1;
    padding: 5px;
}
tr {
    border: #fff 2px solid;
    padding: 5px;
}
td {
    background-color: #f8f8f8;
    padding: 3px 10px;
}

.content ul {
    font-size: 1.6rem;
    position: relative;
    margin-bottom: 1em;
    padding: 0;
}
.content ul li {
    list-style: none;
    position: relative;
    padding-left: 1em;
    text-align: justify;
    text-justify: inter-ideograph;
}
.content ul li::before{
    position: absolute;
    left: 0;
    top: -0.15em;
    font-family: 'Lato', sans-serif;
    content: '•';
    padding: 0 0 0 0.25em;
}
.content li ul {
    margin: 0 0 0 1em;
    padding: 0;
}
.content li ul li::before{
    content: '⁃';
    position: absolute;
    left: 0;
    top: 0.01em;
    padding: 0 0 0 0.25em;
}

.content ol{
    font-size: 1.6rem;
    margin-bottom: 1em;
    padding: 0;
}
.content ol li{
    margin-left: 1.5em;
    text-align: justify;
    text-justify: inter-ideograph;
}

.footer{
    margin-top: auto;
    width: 100%;
    height: 70px;
    padding: 28px 0 0 ;
    background-color: #333;
    color: #fff;
    font-size: 1.2rem;
}
.copyright {
    text-align: center;
    letter-spacing: 1px;
}
.copyright a {
    color: #fff;
}
.horizontal-list{
    margin: 0 auto;
    text-align: right;
    font-size: 0;
}
.horizontal-list .horizontal-item{
    display: inline-block;
    padding: 0 15px;
    letter-spacing: 1px;
}
.horizontal-list .horizontal-item + .horizontal-item{
    border-left: 1px solid #fff;
}
.horizontal-list .horizontal-item a{
    color: #fff;
    font-size: 1.1rem;
    padding-top: 7px;
    transition: 0.15s;
    text-decoration: none;
}
.horizontal-list .horizontal-item a:hover{
    border-top: 4px solid #ff00ff;
}

.aburidasi {
    color: transparent;
}

.sidemenu {
    float: right;
    width: 275px;
}
.mokuji {
    letter-spacing: 1px;
    font-weight: 400;
    padding: 0 10px 5px;
    margin-top: 20px;
    font-size: 1.6rem;
    border-bottom: 2px solid #1BA0E1;
}
.mokuji-list {
    font-size: 1.6rem;
    list-style: none;
    padding: 10px 0 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #1BA0E1;
}
.mokuji-item {
    padding: 3px 0 3px;
    margin: auto;
    letter-spacing: 1px;
}
.mokuji-item a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 6px 0 6px 10px;
    width: 100%;
}
.mokuji-item a::before {
    content: '\f0a9';
    font-family: FontAwesome;
}
.mokuji-item a:hover,
.mokuji-list .active a {
    background-color: #f7f7f7;
    transition: background-color 0.15s;
}

img {
    max-width: 99%;
    border: 1px solid #eee;
}
strong {
    font-weight: 700;
    color: #986801;
}
.MJXc-display {
    overflow-x: auto;
}
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #fff;
    border-left: solid 1px #ececec;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
    box-shadow: inset 0 0 0 2px #fff;
}

::selection {
    background: #ccc; /*背景色*/
    color: #333; /*文字色*/
}
::-moz-selection {
    background: #ccc; /*背景色*/
    color: #333; /*文字色*/
}

.e {
    line-height: 0;
    text-transform: uppercase;
    /** Palatinoのパラメタ値を書き込む **/
    margin-left: -0.140em;
    margin-right: -0.102em;
    vertical-align: -0.161em;
}
.a {
    font-size: 0.75em;
    vertical-align: 0.2em;
    margin-left: -0.36em;
    margin-right: -0.15em;
    text-transform: uppercase;
}

.footnotes hr {
    display: none;
}
.footnotes {
    margin-top: 80px;
    margin-bottom: 80px;
    background: #f8f8f8;
    border-radius: 5px;
    padding: 25px 20px 15px 0px;
}
.footnotes ol li {
    position: relative;
    list-style-type: none;
    list-style-position: inside;
    counter-increment: cnt;
    margin-bottom: 1em;
    padding-left: 2em;
    font-size: 1.5rem;
}
.footnotes ol li::before {
    position: absolute;
    left: 0;
    top: 0.4rem;
    content: "★" counter(cnt);
    font-size: 1rem;
    color: #986801;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.footnote-ref {
    font-size: 1rem;
    text-decoration: none;
    vertical-align: super;
    margin-right: 1px;
    padding: 0;
}
a.footnote-ref::before {
    content: "★";
    font-weight: bold;
    word-break: keep-all;
    color: #986801;
}
a.footnote-ref {
    font-weight: bold;
    color: #986801;
}
a.footnote-backref {
    color: #986801;
}
#disqus_thread {
    margin-top: 80px;
}
pre, code, .highlight {
    font-size: 1.35rem;
    font-family: 'Courier Prime', monospace;
    margin: 0 0 10px;
    padding: 5px 0;
    overflow-x: auto;
    border-radius: 2px;
}
p > code, li > code {
    font-size: 1.35rem;
    font-family: 'Courier Prime', monospace;
    margin: 0 2px;
    padding: 1px;
    border-radius: 2px;
    background-color: #f7f7f7;
}
code > a:link, code > a:visited {
    color: #767676;
}
blockquote {
    color: #828282;
    border-left: 2px solid #e8e8e8;
    padding-left: 13px;
}
.docs-date {
    font-size: 1.3rem;
    color: #767676;
}
.docs-date::before {
    content: "（";
}
.docs-date::after {
    content: "）";
}
.tag-count {
    font-size: 1.3rem;
    color: #767676;
    margin-left: -2px;
}
.tag-count::before {
    content: "（";
}
.tag-count::after {
    content: "）";
}

@media (max-width: 828px) {
    .header-wrapper {
        width: 100%;
    }
    .wrapper {
        margin: 0 auto 40px;
        padding: 15px 15px 0 10px;
        width: 100%;
    }
    .logo {
        margin-left: 5px;
    }
    .global-nav {
        margin: -36px 10px 0 10px;
    }
    .global-nav .nav-item {
        margin: 0 6px 0 4px;
    }
    .global-nav .nav-item a {
        margin: 0 0 0 20px;
    }
}
@media (max-width: 500px) {
    .content {
        line-height: 1.55;
    }
    .content p, .content ul li, .content ol li {
        text-align: start;
        font-size: 1.5rem;
    }
    .footer {
        font-size: 1.1rem;
    }
    .footnotes ol li {
        font-size: 1.4rem;
    }
    .footnotes ol li::before {
        top: 0.15rem;
    }
    .global-nav .nav-item a {
        margin: 0 0 0 10px;
    }
}
