{{ partial "site_header.html" . }}
{{ partial "menu_home.html" . }}

<div class="title">HOME</div>
<h2>記事</h2>
<ul>
    {{ range .Site.RegularPages.ByLastmod.Reverse }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
</ul>
<h2>タグ</h2>
{{ range .Site.Taxonomies.tags.ByCount }}
  <div class="tags"><a href="{{ "/tags/" | relLangURL }}{{ .Term | urlize }}">#{{ .Term }}</a><span class="tag-count">{{ .Count }}</span></div>
{{ end }}
<h2>哲学覚書に関する覚書</h2>
<ul>
    <li>哲学や哲学以外のことについて覚え書く。</li>
    <li>記事は基本的に個人の備忘録であり、あまり他者に向けて書かれてはいない。</li>
    <li>記事には誤りが含まれていることがありますが、品質には問題ありません。記事をお読みになる場合には、懐疑の目を向けて注意深くお読み下さい。</li>
    <li>感想、意見、批判、連絡事項、画期的な哲学的アイディアなどございましたら<a href="https://twitter.com/xscey">@xscey</a>までお寄せ下さい。</li>
</ul>

{{ partial "site_footer.html" . }}
