---
---

@import "normalize";
@import "foundation";
@import "syntax";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
p {
  line-height: 1.65;
  margin-bottom: 1.65rem;
  text-align: justify;
  text-justify: inter-ideograph;
  color: #333;
}
p.linespacezero{
    margin-top: 1rem;
    line-height: 0;
    margin-bottom: 0;
}
li {
    line-height: 1.65;
    text-align: justify;
    text-justify: inter-ideograph;
}
.column > h1{
	color: #999;
	position: relative;
	left: -5px;

}
h2 {
    font-size: 2rem;
    position: relative;
    color: #999;
    left: -4px;
    margin: 1em 0 0.8em;
}
//h2::after {
//	position: absolute;
//	bottom: -4px;
//	left: 0;
//	z-index: 2;
//	content: '';
//	width: 20%;
//	height: 4px;
//	background-color: #3498db;
//}

h3 {
  font-size: 1.5rem;
  color: #888;
  padding-left: 13px;
  border-left: 3px solid #888/*#3498db*/;
  line-height: 1.5rem;
  margin: 1em 0 0.8em 3px;
}
h4 {
    margin-top: 12px;
    font-size: 1.2rem;
	line-height: 0.5;
}
.highlight{
	background-color: #eee;
	padding: 5px;
	margin: 0;
}
code {
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    font-weight: inherit;
    color: inherit;
    background-color: transparent;
    border-width: none;
    border-style: none;
    border-color: transparent;
    padding: .125rem .3125rem .0625rem;
}
.top-bar {
    margin-bottom: 15px;
}
a {
	color: #999;
}
a:hover {
	color: #333;
}
.footnotes {
	margin-top: 5em;
}
.footnotes > ol {
	font-size: 1.2em;
	color: #999;
}
.footnotes p {
	font-size: 0.75em;
}
.small-8 p {
	color: #999;
}
